<!DOCTYPE html>
<html>
  <head>
    <title>Customer Service</title>
  </head>
  <body>
    <h1>Dear user,</h1>
    <p>
      Thank you for leaving your comment. Our Customer Service Support will
      connect you as soon as possible
    </p>
    <br />
    <p>Best regards, <br />Task-Pro Team</p>
  </body>
</html>
